*{
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #B5F0CE;

}
.seccion_contenedor{
    background-color: #B5F0CE;
    text-align: center;
}
.anuncio{
    text-align: left;
}

#Final{
    text-align: center;
}
P{
    text-align: center;
    margin-right: 600px;
}
.contenedor-servicio{
    margin-left: 300px;
}